version: "3.3"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: rakuen-app
        ports:
            - "42983:80" # expose ke host
        environment:
            APP_ENV: production
            APP_DEBUG: "false"
            DB_CONNECTION: mysql
            DB_HOST: mysql
            DB_PORT: 3306
            DB_DATABASE: rakuen_project
            DB_USERNAME: root
            DB_PASSWORD: rakuenProject
        depends_on:
            - mysql
        networks:
            - laravel

    mysql:
        image: mysql:8.0
        restart: unless-stopped
        container_name: mysql
        environment:
            MYSQL_ROOT_PASSWORD: rakuenProject
            MYSQL_DATABASE: rakuen_project
            MYSQL_ROOT_HOST: "%"
        ports:
            - "43567:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - laravel

networks:
    laravel:

volumes:
    db_data:
