@import "./homepage.css";
@import "./navbar.css";
@import "./colors.css";

.footer {
    margin-top: auto;
}

.content {
    font-size: 1.5rem;
}

.content img {
    max-width: 400px;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .content {
        font-size: 1rem;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
