@import './homepage.css';
@import './navbar.css';
@import './colors.css';

.footer {
    margin-top: auto;
}

.content img {
    max-width: 400px;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;