:root {
    --primary-color: #65C6C4;
    --secondary-color: #34699A;
    --tertiary-color: #F2F2F2;
    --element-color-1: #113F67;
    --element-color-2: #2D2D2D;
    --text-color: var(--tertiary-color);
    --footer: #1C1C22;

    /* Gradient colors */
    --gradient-mid-1: #408AB4;
}

body {
    background-color: var(--tertiary-color);
    color: var(--text-color);
}

.bg-dark-ec-2 {
    background-color: var(--element-color-2);
}

.bg-footer {
    background-color: var(--footer);
}

.bg-gradient {
    background: linear-gradient(to right,
            var(--primary-color) 14%,
            var(--gradient-mid-1) 45%,
            var(--secondary-color) 72%,
            var(--element-color-1) 100%);
}

.bg-gradient-bottom {
    background: linear-gradient(to bottom,
            var(--element-color-2) 14%,
            var(--element-color-2) 45%,
            var(--element-color-1) 100%);

}

.color-gradient {
    background: linear-gradient(to right,
            var(--primary-color) 14%,
            var(--gradient-mid-1) 45%,
            var(--secondary-color) 72%,
            var(--element-color-1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient {
    border: 2px solid var(--primary-color);
}