#hero {
    background: url(../../public/img/hero.jpg) no-repeat center center/cover;
    background-size: 100% 100%;
    width: 100%;
    height: 845px;
}

@media only screen and (max-width: 600px) {
    #hero {
        background-size: auto 100%;
        height: 600px;
    }
}
