version: "3.3"

services:
    php:
        build:
            context: ..
            dockerfile: deployment/php.Dockerfile
        container_name: rakuen-php
        environment:
            APP_ENV: production
            APP_DEBUG: "false"
            DB_CONNECTION: mysql
            DB_HOST: mysql
            DB_PORT: 3306
            DB_DATABASE: rakuen_project
            DB_USERNAME: root
            DB_PASSWORD: rakuenProject
        depends_on:
            - mysql
        networks:
            - laravel

    nginx:
        build:
            context: ..
            dockerfile: deployment/nginx.Dockerfile
        container_name: rakuen-nginx
        ports:
            - "9000:80"
        volumes:
            - ../public/build:var/www/public/build
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - laravel

    mysql:
        image: mysql:8.0
        restart: unless-stopped
        container_name: mysql
        environment:
            MYSQL_ROOT_PASSWORD: rakuenProject
            MYSQL_DATABASE: rakuen_project
            MYSQL_ROOT_HOST: "%"
        ports:
            - "3306:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - laravel

networks:
    laravel:

volumes:
    db_data:
